// default values for the primary application colour. All other colours are derived by these values in some form
$__primaryHue : 207;
$__primarySaturation : 100%;
$__primaryLightness : 35%;

// values used for alpha in hlsa
$__alphaMax : 1;
$__alphaMajor : 0.8;
$__alphaMedium : 0.6;
$__alphaMin : 0.4;

 // This is the colour that is used as the primary colour throughout the application
$_palette_color1 : hsla($__primaryHue, $__primarySaturation, $__primaryLightness, $__alphaMax); // #004680
$_palette_color2 : change-color($_palette_color1, $lightness : 13%); // #00080f
$_palette_color3 : change-color($_palette_color1, $lightness : 23%); // #002442
$_palette_color4 : change-color($_palette_color1, $lightness : 17%); // #001424

// These colours are the same as the transparent colours only mixed with a white background
$_palette_color5 : mix($_palette_color1, #FFFFFF, percentage($__alphaMajor)); // #326a99
$_palette_color6 : mix($_palette_color1, #FFFFFF, percentage($__alphaMedium)); // #6690b2
$_palette_color7 : mix($_palette_color1, #FFFFFF, percentage($__alphaMin)); // #99b5cc

// Some other colors used throughout the application
$_palette_color8 : #f0f8ff; // #FFFFFF
$_palette_color9 : #708090;
$_palette_color10 : change-color($_palette_color1, $lightness : 20%); // 002442

// These are different transparency versions of $_palette_color1
$_palette_color11: change-color($_palette_color1, $alpha : $__alphaMin); //rgba(0, 70, 128, 0.4)
$_palette_color12: change-color($_palette_color1, $alpha : $__alphaMajor); //rgba(0, 70, 128, 0.8);
$_palette_color13: change-color($_palette_color1, $alpha : $__alphaMedium); //rgba(0, 70, 128, 0.6);

// Darker primary color (mainly in EPG)
$_palette_color14 : change-color($_palette_color1, $lightness : 15%);
// Darker primary text (mainly in EPG)
$_palette_color15 : change-color($_palette_color8, $lightness : 55%);

$_palette_color16 : red;
$_palette_color17 : darkorange;
$_palette_color18 : black;
$_palette_color19 : #F75D59;