@import "epg_theme.scss";
    
$_epg_fixed_elements_height: _ff($phone: 25px, $tablet: 52px);

// Within the main grid there is space for previous and next arrow bars.
$_epg_leftRightArrowWidth: _ff($phone: 71px, $tablet: 100px);

$_epg_topBarHeight: _ff($phone: 4px, $tablet: 18px);
$_epg_topBarHeightNowNext: _ff($phone: 25px, $tablet: 52px);
$_epg_timeBarBorder: 5px;
 
$_epg_rowHeight: _ff($phone: 57px, $tablet: 60px);

$_epg_paddingLeft: _ff($phone: 0, $tablet: $_app_gutter);
$_epg_paddingRight: _ff($phone: $_app_gutter/2, $tablet: $_app_gutter);
$_epg_channelWidth: 104px;  

$_epg_mainGridLeft : $_epg_paddingLeft + $_epg_channelWidth + $_epg_paddingRight;
$_epg_channelBarTotalWidth: $_epg_paddingLeft + $_epg_channelWidth + $_epg_paddingRight;

// The total height of the bars at the top is used to position the main grid
//The position of the channel scroller - same as the main epg scroller
$_epg_topTotalHeight: $_epg_topBarHeight + $_epg_fixed_elements_height + $_epg_fixed_elements_height + $_epg_timeBarBorder;

// Try to keep this as multiples of 60
$_epg_pixelsPerHour: _ff($phone: 140px, $tablet: 240px);

// The height of the mini media card (shared between epg_mmc.scss and epg.scss)
$_epg_mmc_height: 195px;  