// The background color of the action bar
$_actionBar_BgColor : $_palette_color7;
// Font Color for text elements
$_actionBar_FontColor : $_palette_color1;
// Icon font color
$_actionBar_IconFontColor: $_palette_color6;
// Highlight colour applied to an action button where the active psuedo class is applied
$_actionBar_active_highlight: $_palette_color5;