// Return a value for the current form factor
@function _ff($phone: null, $tablet: null, $desktop: null) {
  @if $_form_factor == phone and $phone != null {
    @return $phone;
  }
  @if $_form_factor == desktop and $desktop != null {
    @return $desktop;
  }
  @if $tablet != null {
    @return $tablet;
  }
}

// Takes two colours and position stops and builds cross-browser gradients
@mixin _simple_gradient($color1, $pos1, $color2, $pos2) {
  background: rgba($color1,1); // Older browsers
  background: transparent;// needed for IE transparencies
  background: -moz-linear-gradient(top, $color1 $pos1, $color2 $pos2); // FF3.6+
  background: -webkit-gradient(linear, left top, left bottom, color-stop($pos1,$color1), color-stop($pos2,$color2)); // Chrome,Safari4+
  background: -webkit-linear-gradient(top, $color1 $pos1, $color2 $pos2); // Chrome10+,Safari5.1+
  background: -ms-linear-gradient(top, $color1 $pos1, $color2 $pos2); // IE10+
  -ms-filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#{ie-hex-str($color1)}', EndColorStr='#{ie-hex-str($color2)}'); // IE6-8
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#{ie-hex-str($color1)}', endColorStr='#{ie-hex-str($color2)}'); // IE9
  background: linear-gradient(to bottom, $color1 $pos1, $color2 $pos2); // Standard
}

// Vendor prefix mixin, takes a field and arguments and prefixes it with  browser-specific identifiers.  Does NOT convert to different syntaxes.
@mixin _vendor_prefix($name, $argument) {
  -webkit-#{$name}: $argument;

  -ms-#{$name}: $argument;
  -moz-#{$name}: $argument;
  #{$name}: $argument;
}

// A single line that is ellided ( ... ) if necessary
@mixin app_ellide {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin box_shadow {
   @include _vendor_prefix(box-shadow, $_app_box_shadow);
}

@mixin _screen_background {
  background-color: $_palette_color6;
  //@include _simple_gradient($_palette_color6, 0%, $_palette_color6, 99%);
}

@mixin _ui_no_border_radius {
    @include _vendor_prefix(border-radius, 0em !important);
}

@mixin _ui_full_border_radius {
  @include _vendor_prefix(border-radius, 0.3em);
}

@mixin _ui_top_border_radius {
  @include _vendor_prefix(border-radius, 0.3em 0.3em 0em 0em);
}

@mixin _ui_bottom_border_radius {
  @include _vendor_prefix(border-radius, 0em 0em 0.3em 0.3em);
}
