// The background color of the more like this heading
$_mediacard_mltHeaderBackground:_ff($phone: $_palette_color1, $tablet: $_palette_color11);
// The background color of the button container
$_mediacard_buttonContainer: $_palette_color12;
// The font color of the icons and text for the media card action bar
$_mediacard_actionButtonColor: $_palette_color6;
// The font color for the media overlay buttons
$_mediacard_mediaButtonFontColor: $_palette_color6;
// Font color for more like this header
$_mediacard_mltHeaderFontColor: $_palette_color6;
// Color of text strap background
$_mediacard_textStrapBackgroundColor: $_palette_color12;
// Color of text strap text
$_mediacard_textStrapFontColor: $_palette_color9;
// color or touch highlight
$_mediacard_highlightColor: $_palette_color1;
// Color of the text
$_mediacard_textColor: inherit;
// Color of the blocked event tile text straps
$_mediacard_blockedTile : rgba(#708090,1);