$multi_browse_textShadow: $_palette_color9;
$multi_browse_ScreenArrowBg: $_palette_color13;
$multi_browse_ScreenHoverArrowBg: $_palette_color12;
$multi_browse_ScreenArrowDisabledBg: $_palette_color15;
$multi_browse_ScreenHorizontalRule: $_palette_color8;
$multi_browse_ScreenArrowColor: $_palette_color6;
$multi_browse_textColor: $_palette_color9;