// default values for the primary application colour. All other colours are derived by these values in some form
$__primaryHue : 0;
$__primarySaturation : 0%;
$__primaryLightness : 31%;

// values used for alpha in hlsa
$__alphaMax : 1;
$__alphaMajor : 0.8;
$__alphaMedium : 0.6;
$__alphaMin : 0.4;

 // This is the colour that is used as the primary colour throughout the application
$_palette_color1 : hsla($__primaryHue, $__primarySaturation, $__primaryLightness, $__alphaMax); // #4f4f4f
$_palette_color2 : change-color($_palette_color1, $lightness : 36%); // #5d5d5d
$_palette_color3 : change-color($_palette_color1, $lightness : 38%); // #626262
$_palette_color4 : change-color($_palette_color1, $lightness : 28%); // #484848
$_palette_color5 : change-color($_palette_color1, $lightness : 82%); // #d1d1d1
$_palette_color6 : change-color($_palette_color1, $lightness : 95%); // #f1f1f1
$_palette_color14 : change-color($_palette_color1, $lightness : 65%); // #

$_palette_color7: #6fbf4d;
$_palette_color8: #bdddaf;
$_palette_color9: white;
$_palette_color10: black;

$_palette_color11: change-color($_palette_color7, $alpha : $__alphaMin);
$_palette_color12: change-color($_palette_color7, $alpha : $__alphaMajor);
$_palette_color13: change-color($_palette_color7, $alpha : $__alphaMedium);

$_palette_color15: change-color($_palette_color1, $alpha : $__alphaMedium); //rgba(0, 70, 128, 0.6);

// Darker primary color (mainly in EPG)
$_palette_color16 : change-color($_palette_color5, $lightness : 15%);
// Darker primary text (mainly in EPG)
$_palette_color17 : change-color($_palette_color1, $lightness : 45%);

$_palette_color18 : red;
$_palette_color19 : darkorange;
$_palette_color20 : black;
$_palette_color21 : #F75D59;