@import "application";

// ******************************
// Define variables for the scss
// ******************************

//height of the ui-elements
$__listHeight : _ff($phone: 52px, $tablet: 50px);
$__smallHeight : _ff($phone: 40px, $tablet: 45px);
$__largeHeight : _ff($phone: 40px, $tablet: 50px);

//padding around ui elements
$__largePadding : _ff($phone: 5px, $tablet: 10px);
$__smallPadding : _ff($phone: 5px, $tablet: 5px);

$__elementMargin : 10px 20px;

//button box shadow
$__ui_button_box_shadow : 1px 0px 10px 0px, rgba(#000000, 0.8);
$_ui_largeButtonHeight : $__largeHeight;

//list item bg colors
$__listTopColor : $_palette_color7;
$__listBottomColor : $_palette_color8;
// Button styles
$__buttonTopColor : $_palette_color2;
$__buttonBottomColor : $_palette_color3;
$__buttonFontColor : $_palette_color8;
$__buttonBorderColor : $_palette_color8;
// input styles
$__inputDisabledTextColor : rgba(#000000, 1);
$__inputDisabledBGColor : rgba(#ffffff, 1);

$__large_button_font_size : $_app_large_font_size;
$__small_button_font_size : $_app_font_size;
$__large_input_font_size : $_app_large_font_size;
$__small_input_font_size : $_app_font_size;
$__ui_button_hover_background : $_palette_color8;
$__ui_button_border : 1px solid $__buttonBorderColor;
$__ui_button_bgColor: $_palette_color7;

// ******************************
// Define css classes and mixins
// ******************************

@mixin _ui_list_items_menu {
  background: none;
  @include app_ellide;
  height: $__listHeight;
  line-height: $__listHeight;
  text-align: left;
  width: 100%;
}

@mixin _ui_list_items {
  @include _simple_gradient($__listTopColor, 0%, $__listBottomColor, 100%);
  @include app_ellide;
  height: $__listHeight;
  line-height: $__listHeight;
  text-align: left;
  width: 100%;
}

@mixin _ui_list_items_no_bg {
  @include app_ellide;
  height: $__listHeight;
  line-height: $__listHeight;
  text-align: left;
  width: 100%;
}

// common box shadow
@mixin _ui_button_box_shadow {
  @include _vendor_prefix(box-shadow, $__ui_button_box_shadow);
}

// common style applied to buttons
@mixin _ui_button_common {
  @include _ui_full_border_radius;
  @include _ui_button_box_shadow;
  @include app_ellide;
  padding: 0px;
  background-color: $__ui_button_bgColor;
  margin: $__elementMargin;
  cursor: pointer;
  vertical-align: middle;
  display : inline-block;
  border: $__ui_button_border;
  text-align:center;
  position: relative;
  color: $__buttonFontColor;
  &:hover{
    background: $__ui_button_hover_background;
  }
}


@mixin _ui_input_common {
   @include _ui_full_border_radius;
   margin: $__elementMargin;
   vertical-align: middle;
   display : inline-block;
   border: 3px solid transparent;
    &:focus {
      outline: none;
    }
    &:disabled{
      @include _vendor_prefix(opacity, 1);
      -webkit-text-fill-color: $__inputDisabledTextColor;
      background: $__inputDisabledBGColor;
    }
}

// partialyl complete large button, when implementing it is expected that other properties will be added to the
// class such as width
@mixin _ui_button_large {
  @include _ui_button_common;
  height : $__largeHeight;
  line-height : $__largeHeight;
  font-size: $__large_button_font_size;
}

// partialyl complete small button, when implementing it is expected that other properties will be added to the
// class such as width
@mixin _ui_button_small {
  @include _ui_button_common;
  height : $__smallHeight;
  line-height : $__smallHeight;
  font-size: $__small_button_font_size;
}

@mixin _ui_large_button_icon {
  height : $__largeHeight;
  line-height: $__largeHeight;
}

@mixin _ui_small_button_icon {
  height : $__smallHeight;
  line-height: $__smallHeight;
}

// partialyl complete large input, when implementing it is expected that other properties will be added to the
// class such as width
@mixin _ui_input_large {
  @include _ui_input_common;
  height : $__largeHeight;
  font-size: $__large_input_font_size;
  padding: $__largePadding;
}

// partialyl complete small input, when implementing it is expected that other properties will be added to the
// class such as width
@mixin _ui_input_small {
  @include _ui_input_common;
  height : $__smallHeight;
  font-size: $__small_input_font_size;
  padding: $__smallPadding;
}

