// The background color of the action bar
$_videoController_BgColor : $_palette_color1;
// Font Color for text elements
$_videoController_FontColor : $_palette_color8;
// Icon font color
$_videoController_IconFontColor: $_palette_color8;
// progressbar gutter color
$_videoController_ProgressBarGutterColor: $_palette_color5;
// progressbar  color
$_videoController_ProgressBarColor: $_palette_color8;