//The text color used for the search suggestions
$_search_suggestionTextColor : #000000;
// The background color used for the search suggestions
$_search_suggestionBGColor:$_palette_color8;
$_search_otherSearchesBGColor:$_palette_color7;
$_search_otherSearchesHoverBGColor:$_palette_color5;
$_search_HoverTextColor:$_palette_color8;
$search_icon_color:black;     //JRM 
