$multi_browse_textShadow: white;
$multi_browse_ScreenArrowBg: $_palette_color11;
$multi_browse_ScreenHoverArrowBg: $_palette_color1;
$multi_browse_ScreenArrowDisabledBg: rgba(100, 100, 100, 0.5);
$multi_browse_ScreenHorizontalRule: white;
$multi_browse_ScreenArrowColor: white;
$multi_browse_textColor: white;