$multi_browse_textShadow: white;
$multi_browse_ScreenArrowBg: rgba(0, 71, 130, 0.5);;
$multi_browse_ScreenHoverArrowBg: rgba(109, 173, 229, 0.5);;
$multi_browse_ScreenArrowDisabledBg: rgba(100, 100, 100, 0.5);;
$multi_browse_ScreenHorizontalRule: white;
$multi_browse_ScreenArrowColor: white;
$multi_browse_textColor: white;